html {
  // 主要なブラウザのデフォルトフォントサイズは 16px なので、62.5% を指定して 10px 相当にする
  // px 指定ではなく % 指定にしておくことで、ユーザーがブラウザの設定でデフォルトの文字サイズを変更していた場合にもある程度その設定を反映することができる
  font-size: 62.5%;
}

body {
  color: $primary-text-color;
  font-size: 1.2rem;
  font-family: "Hiragino Gothic ProN", Meiryo, san-serif;
}

.wrapper {
  width: $main-wrapper-width;
  margin: 35px auto;
}

.main {
  display: block; // IE でもブロックレベルとして認識されるようにするため
  float: left;
  width: $main-width;
}

.side-menu {
  float: left;
  width: $side-menu-width;
  margin-left: $side-menu-margin-left;
}
