.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shine {
  transition: opacity 0.15s;

  &:hover {
    opacity: 0.8;
  }
}
