.header {
  width: 100%;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block; /* IE でもブロックレベルとして認識されるようにするため */
  float: left;
  width: 660px;
}

.side-menu {
  float: right;
  width: 275px;
}

.footer {
  width: 100%;
}

.clear-fix::after {
  content: '';
  display: block;
  clear: both;
}

.header, .main, .side-menu, .footer {
  border: 1px solid #aaa;
  background-color: #ccc;
}

.header, .footer {
  height: 100px;
}

.main, .side-menu {
  height: 500px;
}
