@charset "UTF-8";

html {
  /**
   * 主要なブラウザのデフォルトフォントサイズは 16px なので、62.5% を指定して 10px 相当にする
   * px 指定ではなく % 指定にしておくことで、ユーザーがブラウザの設定でデフォルトの文字サイズを変更していた場合にもある程度その設定を反映することができる
   */
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #d03c56;

  /**
   * リンクの下線を外すとリンクとテキストが区別しづらくなってしまうデメリットがあるが、
   * 今回のサイトはブロック単位のリンクが多いため、デフォルトで下線を外している
   */
  text-decoration: none;
}

.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url("../images/bg-header.gif");
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block; /* IE でもブロックレベルとして認識されるようにするため */
  float: left;
  width: 660px;
}

.side-menu {
  float: right;
  width: 275px;
}

.footer {
  width: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.header, .main, .side-menu, .footer {
  border: 1px solid #aaa;
  background-color: #ccc;
}

.header, .footer {
  height: 100px;
}

.main, .side-menu {
  height: 500px;
}

.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url("../images/logo.png");
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.global-nav {
  margin-top: 15px;
  text-align: center;
}

.global-nav .nav-item {
  display: inline-block;
  margin: 0 10px;
}

.global-nav .nav-item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.15s;
}

.global-nav .nav-item.active a,
.global-nav .nav-item a:hover {
  background-color: #d03c56;
  color: #fff;
}
