.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url("../../images/bg-header.gif") repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;

  .logo {
    width: 225px;
    height: 56px;
    margin: 0 auto;
    background: url("../../images/logo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .nav {
    // .nav-list を中央寄せにすることが思うようにいかなかったので、怒りの Flexbox
    display: flex;
    justify-content: center;

    .nav-item {
      display: inline-block;
      float: left;
      width: 100px;
      padding: 8px;
      border-radius: 8px;
      text-align: center;
      letter-spacing: 1px;

      a {
        color: $primary-text-color;
      }
    }

    .nav-item.active {
      background-color: $accent-color;

      a {
        color: $primary-text-color--is-bg-dark;
      }
    }
  }
}
