.header {
  padding: 28px 0 10px;
  width: 100%;
  background: url("../../images/bg-header.gif") repeat-x;
  box-shadow: 0 0 3px 3px #999;

  .title {
    font-size: 0;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

  .nav {
    // .nav-list を中央寄せにすることが思うようにいかなかったので、怒りの Flexbox
    display: flex;
    justify-content: center;

    .nav-item {
      display: inline-block;
      float: left;
      width: 100px;
      padding: 8px;
      border-radius: 8px;
      text-align: center;
      letter-spacing: 1px;

      a {
        color: $primary-text-color;
      }
    }

    .nav-item.active {
      background-color: $accent-color;

      a {
        color: $primary-text-color--is-bg-dark;
      }
    }
  }
}
