$main-width: 660px;
$side-menu-width: 275px;
$side-menu-margin-left: 35px;
$wrapper-width: $main-width + $side-menu-width + $side-menu-margin-left;

.wrapper {
  width: $wrapper-width;
  margin: 35px auto;
}

.main {
  float: left;
  width: $main-width;
  height: 500px; // dummy
  background-color: $dummy-background-color;
}

.side-menu {
  float: left;
  width: $side-menu-width;
  height: 500px; // dummy
  margin-left: $side-menu-margin-left;
  background-color: $dummy-background-color;
}
