.documents {
  margin-top: 30px;
}

.document-group {
  margin-top: 20px;

  &__heading {
    border-left: $accent-color solid 4px;
    padding-left: 8px;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__item {
    list-style: none;
    margin-top: 8px;
    margin-left: 12px;

    a:hover {
      border-bottom: $accent-color solid 1px;
    }
  }
}
