.horizontal-link {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;

  & + & {
    border-left: solid 1px #ccc;
  }

  a, a:link, a:visited, a:hover, a:active {
    color: #ccc;
  }
}
